<main class="pa4 black-80">
<%= form_for(resource,
             as: resource_name,
             url: registration_path(resource_name),
             html: { method: :put },
             class: "measure center") do |f| %>
  <%= devise_error_messages! %>

  <fieldset id="update" class="ba b--transparent ph0 mh0">
    <legend class="f4 fw6 ph0 mh0">Edit Your Account</legend>
    <div class="mt3">
      <%= f.label :email, class: "db fw6 lh-copy f6" %>
      <%= f.email_field :email, class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>
    <div class="mv3">
      <%= f.label :password, class: "db fw6 lh-copy f6" %>
      <%= f.password_field :password, class: "b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>
    <div class="mv3">
      <%= f.label :password_confirmation, class: "db fw6 lh-copy f6" %>
      <%= f.password_field :password_confirmation, class: "b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>

    <div class="mt3">
      <%= f.label :name, class: "db fw6 lh-copy f6" %>
      <%= f.text_field :name, class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>
    <div class="mt3">
      <%= f.label :number, class: "db fw6 lh-copy f6" %>
      <%= f.text_field :number, class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>
    <div class="mt3">
      <%= f.label :interest_list, class: "db fw6 lh-copy f6" %>
      <%= f.text_field :interest_list, class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>
    <div class="mt3">
      <%= f.label :age, class: "db fw6 lh-copy f6" %>
      <%= f.number_field :age, class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>

  </fieldset>
  <div class="">
    <%= f.submit "Update Your Account", class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
  </div>
<% end %>
</main>
